*.iml
.gradle
/local.properties
# Ignore the entire JetBrains IDE folder except shared project settings
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
